body {
    background-color: #FFFACD;
}
table{
	width: 40%;
	border-collapse: collapse;
}
h1,h2,td,th{
	text-align:center;
}
th{
	background-color: #4CAF50;
	color: white;
	border:2px solid black;
}
div{
	margin-right:100px;
}
tr{
	background-color: white;
}
tr:hover {
	background-color: Gainsboro;
}